{% extends 'base.html.twig' %}

{% block title %}Naruto streaming{% endblock %}

{% block body %}
<div class="divHome d-flex align-items-center flex-column justify-content-center">
<h1 class="text-white">Naruto Streaming</h1>
<a href="{{ path('episode_list') }}" class="btn btn-primary btn-lg md-3">Acceder aux episodes</a>
</div>

{% endblock %}
