.divHome
{
    background-image: url("https://www.micromania.fr/on/demandware.static/-/Sites-Micromania-Library/default/dwd47f2ee2/fanzone/dossier/Naruto/naruto-shippuden.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100vh;
}